<div class="container jumbotron">
  <a href="/vehicules" class="mat-icon">
    <mat-icon svgIcon="vehicule" aria-hidden="false" aria-label="Example vehicule SVG icon"></mat-icon>
  </a>
  <a href="/clohtes" class="mat-icon">
    <mat-icon svgIcon="clothes" aria-hidden="false" aria-label="Example clothes SVG icon"></mat-icon>
  </a>
  <a href="/materiels" class="mat-icon">
    <mat-icon svgIcon="materiels" aria-hidden="false" aria-label="Example materiels SVG icon"></mat-icon>
  </a>
  <a href="/immobilier" class="mat-icon">
    <mat-icon svgIcon="immobilier" aria-hidden="false" aria-label="Example immobilier SVG icon"></mat-icon>
  </a>
  <a href="/sport" class="mat-icon">
    <mat-icon svgIcon="sport" aria-hidden="false" aria-label="Example sport SVG icon"></mat-icon>
  </a>
  <a href="/services" class="mat-icon">
    <mat-icon svgIcon="services" aria-hidden="false" aria-label="Example services SVG icon"></mat-icon>
  </a>
  <a href="/job" class="mat-icon">
    <mat-icon svgIcon="job" aria-hidden="false" aria-label="Example job SVG icon"></mat-icon>
  </a>
  <a href="/art" class="mat-icon">
    <mat-icon svgIcon="art" aria-hidden="false" aria-label="Example art SVG icon"></mat-icon>
  </a>
  <a href="/others" class="mat-icon">
    <mat-icon svgIcon="others" aria-hidden="false" aria-label="Example others SVG icon"></mat-icon>
  </a>

</div>
