<div class="container">
  <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="annonce">
            <a href="/sylla1" data-lightbox="mygallery" data-title="Titre de l'annonce">
              <p>Vente de vetements</p>
              <img src="../../assets/f1.jpg"  class="img-thumbnail" alt="">
            </a>
          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="annonce">
              <a href="/moshe1" class="">
                  <p>Vente des articles</p>
                  <img src="../../assets/f2.jpg" class="img-thumbnail" alt="">
              </a>

          </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="annonce">
              <a href="/moussa1" class="">
                  <p>Vente des articles</p>
                  <img src="../../assets/f3.jpg" class="img-thumbnail" alt="">
              </a>

          </div>
    </div>
  </div>
</div>
